In [0]:
import numpy as np
import pandas as pd

In [0]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]
    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

In [0]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [0]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [0]:
cars = pd.concat([cars1, cars2])
cars

      mpg  cylinders  displacement  ... model  origin                        car
0    18.0          8           307  ...    70       1  chevrolet chevelle malibu
1    15.0          8           350  ...    70       1          buick skylark 320
2    18.0          8           318  ...    70       1         plymouth satellite
3    16.0          8           304  ...    70       1              amc rebel sst
4    17.0          8           302  ...    70       1                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
195  27.0          4           140  ...    82       1            ford mustang gl
196  44.0          4            97  ...    82       2                  vw pickup
197  32.0          4           135  ...    82       1              dodge rampage
198  28.0          4           120  ...    82       1                ford ranger
199  31.0          4           119  ...    82       1                 chevy s-10

[398 rows x 9 columns]

In [0]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='I')
nr_owners

array([63453, 60802, 17298, 27584, 15852, 61800, 36683, 63770, 21063,
       51260, 45345, 59633, 59285, 58193, 68423, 42809, 21846, 60424,
       49855, 37983, 65061, 55311, 40129, 37190, 56551, 55485, 16397,
       53619, 39153, 16750, 56268, 65540, 56179, 53564, 55634, 60909,
       38951, 24531, 59214, 22763, 41408, 15358, 46120, 37854, 21678,
       67412, 61111, 27118, 25702, 60195, 34703, 58156, 58197, 23968,
       66920, 65767, 60137, 20934, 52189, 55246, 68705, 17565, 56985,
       46413, 54963, 63201, 42427, 43528, 55068, 22970, 25712, 51762,
       45137, 21383, 52799, 37784, 55756, 68262, 28838, 22875, 61375,
       39841, 25636, 15151, 67665, 18980, 19403, 25065, 39706, 17956,
       40260, 22019, 20387, 31251, 61671, 69530, 52075, 47440, 21146,
       52244, 69494, 71491, 68155, 62879, 55283, 53344, 19790, 53746,
       41754, 30311, 65326, 58490, 63570, 41324, 43064, 27376, 26153,
       30781, 47717, 49477, 17105, 32738, 21162, 26765, 16415, 45343,
       63729, 22662, 70772, 56357, 27168, 32461, 53577, 58905, 21218,
       24670, 15227, 43794, 49796, 34188, 51590, 46168, 47951, 24086,
       34061, 58206, 65056, 15079, 26242, 26829, 70929, 57320, 72574,
       23244, 37795, 25032, 30303, 69519, 26292, 38219, 70867, 68338,
       54857, 15004, 57099, 51529, 67774, 18208, 44302, 52790, 30972,
       26129, 54069, 42143, 24268, 63635, 48586, 37647, 18316, 59618,
       42124, 34186, 30136, 39832, 55519, 17915, 70434, 32544, 39797,
       62188, 65853, 55604, 22151, 56141, 50514, 68542, 62874, 49463,
       37064, 68075, 25544, 51434, 62877, 64372, 71261, 51790, 46477,
       18755, 55213, 46219, 57640, 60167, 49317, 62359, 21460, 20122,
       24215, 48230, 53111, 21612, 28360, 19177, 19696, 64155, 63234,
       37928, 72010, 39406, 29837, 46833, 57885, 22418, 68633, 40384,
       17020, 61089, 36943, 45306, 70163, 63233, 34427, 60917, 63434,
       72088, 45489, 16885, 29441, 21424, 34401, 53213, 40683, 70061,
       71335, 51667, 53394, 20153, 56743, 69544, 37404, 47345, 35497,
       21592, 19176, 45468, 63861, 72777, 45326, 26774, 16822, 34367,
       40414, 18631, 61812, 46658, 65280, 19041, 46175, 61695, 41470,
       68646, 61694, 16075, 69466, 23505, 21558, 30533, 55889, 25478,
       29065, 29111, 35020, 39910, 20681, 46071, 63707, 71611, 69030,
       37461, 32143, 37653, 49411, 35943, 56115, 45205, 56121, 46919,
       42358, 38360, 17894, 40167, 32425, 34923, 33840, 61099, 69582,
       21015, 23290, 38606, 40474, 59953, 26661, 25251, 21016, 64275,
       27669, 48964, 28933, 33684, 36224, 67713, 56276, 27911, 54071,
       63591, 33374, 71568, 68225, 30885, 22760, 69097, 72878, 68887,
       16668, 20220, 39807, 28398, 29210, 15582, 72563, 56977, 65335,
       18736, 53552, 50610, 63259, 41683, 30171, 17071, 46042, 18113,
       70460, 63542, 41568, 50229, 39985, 61380, 18085, 28855, 64656,
       52885, 58836, 21774, 31169, 71912, 47174, 61260, 33506, 60429,
       54662, 45055, 48752, 32979, 19295, 15664, 67511, 71431, 21647,
       16253, 56485, 34422, 41579, 15608, 25900, 19109, 39295, 19589,
       35687, 72885], dtype=uint32)

In [0]:
cars['owner'] = nr_owners
cars.tail()

      mpg  cylinders  displacement  ... origin              car  owner
195  27.0          4           140  ...      1  ford mustang gl  19109
196  44.0          4            97  ...      2        vw pickup  39295
197  32.0          4           135  ...      1    dodge rampage  19589
198  28.0          4           120  ...      1      ford ranger  35687
199  31.0          4           119  ...      1       chevy s-10  72885

[5 rows x 10 columns]